NET "Clk" TNM_NET = Clk;
#TIMESPEC TS_Clk = PERIOD "Clk" 12.500 ns HIGH 50%;
TIMESPEC TS_Clk = PERIOD "Clk" 12.000 ns HIGH 50%;
#
#TIMESPEC TS_Clk = PERIOD "Clk"  6.500 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk"  6.250 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk"  6.125 ns HIGH 50%;
