NET "Clk" TNM_NET = Clk;
#TIMESPEC TS_Clk = PERIOD "Clk" 6.500 ns HIGH 50%;
TIMESPEC TS_Clk = PERIOD "Clk" 6.250 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 6.000 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 4.000 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 3.500 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 3.000 ns HIGH 50%;
